/build/
/dist/
/main.spec
/ytmusic-downloader.spec
/songs/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/yt-music-downloader.iml
/ytmusic-downloader.exe
/ytmusic-downloader-v001.zip
/ytmusic-downloader-v001/songs/README.txt
/ytmusic-downloader-v001/README.txt
/ytmusic-downloader-v001/ytmusic-downloader.exe
